<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
    rel="stylesheet"
    />
    <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
</head>
<body>
    <div class="container p-5">
        <div>
            <span id="question">How many unique gene/copy-number values are in the file? <button id="btn_one">Calculate</button></span>
        </div>
        <script>
            const btn = document.getElementById('btn_one');
            btn.addEventListener('click', () => {
              const div = document.getElementById('answer_one');
              if (div.style.display === 'none') {
                div.style.display = 'inline';
              }
              else {
                div.style.display = 'none';
              }
            });
        </script>
            <div id="answer_one" style="display:none;">
                <div id="q1_notable">
                    <p1>Gene: {{unique_values_g}}</p1><br>
                    <p1>Copy-number: {{unique_values_c}}</p1>
                </div><br>
            </div>
        <div>
            <span id="question">Compute the mean and standard deviation of copy number for all unique human gene products/proteins <button id="btn_two">Calculate</button></span>
        </div>
        <script>
            const btn_two = document.getElementById('btn_two');
            btn_two.addEventListener('click', () => {
              const div = document.getElementById('answer_two');
              if (div.style.display === 'none') {
                div.style.display = 'inline';
              }
              else {
                div.style.display = 'none';
              }
            });
        </script>
            <div id="answer_two" style="display: none; margin-top:15px;">
                <table id="dataTable_q2" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>GN</th>
                            <th>Mean</th>
                            <th>Standard Deviation</th>
                        </tr>
                    </thead>
                </table>
            </div>
        <div>
            <span id="question">Calculate the percentile rank (in terms of copy number ranks) for each gene product/protein <button id="btn_three">Calculate</button></span>
        </div>
        <script>
            const btn_three = document.getElementById('btn_three');
            btn_three.addEventListener('click', () => {
              const div = document.getElementById('answer_three');
              if (div.style.display === 'none') {
                div.style.display = 'inline';
              }
              else {
                div.style.display = 'none';
              }
            });
        </script>
        <div id="answer_three" style="display: none;">
            <table id="dataTable_q3" class="display" style="width:100%">
                <thead>
                    <tr>
                        {% comment %} <th>#Taxid</th>
                        <th>Ensembl_protein</th> {% endcomment %}
                        <th>Gn</th>
                        <th>Mean-copy-number</th>
                        <th>Percentile Rank</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
></script>
<script>
    $(document).ready(function() {
        //dataTable renders
        $('#dataTable_q3').DataTable( {
            ajax: {
                // django view 
                url: "{% url 'data_a_three'%}",
                dataSrc: "out_a3",
                processing: true,
                serverSide: true
            },
            "columns": [
                //{ "data": 0 },
                //{ "data": 1 },
                { "data": 2 },
                { "data": 3 },
                { "data": 'percent_rank' },
                ],
        });
        //dataTable renders
        $('#dataTable_q2').DataTable( {
            "ajax": {
                // django view 
                "url": "{% url 'data_a_two'%}",
                "dataSrc": "out_a2",
                
            },
            "columns": [
                { "data": "(2, '')" },
                { "data": "(3, 'mean')"},
                { "data": "(3, 'std')" },
                ],
        } );
    } );
</script>
</body>
</html>